@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
  box-shadow: 0px 0px 2px 2px #81b3d2;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.body {
  position: relative;

  box-sizing: border-box;

  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.main-heading {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.header {
  width: 100%;
}

.header__logo-link {
  position: absolute;
  left: 50%;

  margin-left: -69px;
}

.main-nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-nav__list {
  display: flex;

  margin: 0;
  padding: 0;
}

.main-nav__item {
  width: 20%;

  list-style: none;
}

.main-nav__item:first-child {
  margin-left: 6%;
}

.main-nav__item:nth-child(2) {
  margin-right: auto;
}

.main-nav__item:last-child {
  margin-right: 6%;
}

.main-nav__item--right a {
  float: right;
}

.main-nav__link {
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
}

.main-nav__link:hover {
  color: #81b3d2;
}

.main-nav__link:active {
  color: #000000;
  opacity: 0.3;
}

.main-nav__link--current {
  color: #766357;
}

/*------------------------------INDEX-------------------------------*/

.promo {
  position: relative;

  width: 100%;
  height: 510px;

  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 30%;

  z-index: -1;
}

.promo__slogan {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 458px;
  height: 352px;
  margin-top: -176px;
  margin-left: -229px;

  background-image: url("../img/promo.png");
}

.promo__mask {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 57px;

  background-image: url("../img/mask.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.advantages {
  padding-top: 60px;
}

.advantages__slogan {
  margin: 0;
  margin-bottom: 35px;

  text-align: center;
}

.advantages__underslogan {
  margin: 0;
  margin-bottom: 55px;

  text-align: center;
  color: #333333;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  width: 33.333%;
  min-height: 256px;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 46px;

  text-align: center;

  background-color: #eeeeee;
}

.advantages__item--wide {
  display: flex;  
  width: 100%;
  padding: 0;

  color: #ffffff;

  background-color: #81b3d2;
}

.advantages__item-wrap {
  width: 33.333%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 46px;
}

.advantages__photo {
  width: 66.667%;

  background-image: url("../img/photo1.jpg");
  background-size: cover;
  background-position: center;
}

.advantages__photo--second {
  background-image: url("../img/photo2.jpg");
}

.advantages__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.advantages__number {
  position: relative;

  width: 20px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
  color: #333333;
}

.advantages__number::before,
.advantages__number::after {
  position: absolute;
  top: 8px;

  content: "";
  width: 9px;
  height: 2px;

  background-color: #979797;
}

.advantages__number::before {
  left: -15px;
}

.advantages__number::after {
  right: -15px;
}

.advantages__text {
  margin: 0;
  padding: 0;
  color: #333333;
}

.advantages__item-wrap .advantages__text,
.advantages__item-wrap .advantages__number {
  color: #ffffff;
}

.advantages__item-wrap .advantages__number::before,
.advantages__item-wrap .advantages__number::after {
  background-color: #ffffff;
}

.services {
  width: 100%;
  min-height: 330px;
  padding: 0;

  background-color: #ffffff;
}

.services__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services__item {
  width: 33.333%;
  padding-top: 160px;
  padding-right: 5%;
  padding-left: 5%;

  background-repeat: no-repeat;
  background-position: 50% 30%;
}

.services__item--housing {
  background-image: url("../img/icon-1.svg");
}

.services__item--food {
  background-image: url("../img/icon-2.svg");
}

.services__item--souvenirs {
  background-image: url("../img/icon-3.svg");
}

.services__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.services__text {
  margin: 0;
  padding: 0;
  color: #333333;
}

.search {
  padding-top: 55px;
}

.search__title {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.search__text {
  margin: 0;
  margin-bottom: 50px;

  text-align: center;
  color: #333333;
}

.search__form-toggle {
  display: block;
  width: 568px;
  height: 86px;
  margin: 0 auto;

  font: inherit;
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #766357;
  border: 0;

  cursor: pointer;
}

.search__form-toggle:hover {
  background-color: #503e33;
}

.search__form-toggle:active {
  color: rgba(255, 255, 255, 0.3);
}

.search__form {
  position: absolute;
  left: 50%;
  
  display: none; /*flex*/
  flex-wrap: wrap;
  width: 568px;
  height: 395px;
  margin-left: -284px;
  padding: 55px 55px 0 55px;

  font-weight: bold;

  background-color: #ffffff;
}

.search__form input {
  font: inherit;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
}

.search__label {
  display: flex;
  align-items: baseline;
  width: 100%;
  height: 38px;
  margin-bottom: 30px;
}

.search__label--adults {
  width: 226px;
  margin-bottom: 55px;
}

.search__label--children {
  width: 180px;
  margin-left: auto;
}

.search__date {
  width: 346px;
  height: 38px;
  margin-left: auto;
  padding-left: 13px;
  padding-right: 10px;
}

.search__date:hover {
  background-color: #ebebeb;
}

.search__date:focus {
  background-color: #ffffff;
  border: 2px solid #e1e1e1;
  box-shadow: none;
}

.search__date::-webkit-inner-spin-button {
  display: none;
}

.search__date::-webkit-calendar-picker-indicator {
  width: 16px;
  height: 22px;

  color: transparent;
  opacity: 0.5;
  background-image: url("../img/calendar.svg");
  background-size: cover;
}

.search__date::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

.search__amount {
  order: 1;
  width: 38px;
  height: 38px;
  padding-left: 16px;
}

.search__amount::placeholder {
  color: #000000;
}

.search__amount-minus,
.search__amount-plus {
  position: relative;

  display: inline-block;

  width: 38px;
  height: 38px;

  font-size: 14px;

  background-color: #f2f2f2;
  border: none;
}

.search__amount-minus {
  margin-left: auto;
}

.search__amount-plus {
  order: 1;
}

.search__amount-minus:hover,
.search__amount-plus:hover {
  background-color: #e1e1e1;
}

.search__amount-minus:active,
.search__amount-plus:active {
  background-color: #81b3d2;
}

.search__amount-minus::before,
.search__amount-plus::before,
.search__amount-plus::after {
  content: "";

  position: absolute;
  top: 18px;
  left: 15px;

  width: 10px;
  height: 3px;

  background-color: #a9a9a9;
}

.search__amount-plus::after {
  transform: rotate(90deg);
}

.search__amount-minus:hover::before,
.search__amount-plus:hover::before,
.search__amount-plus:hover::after {
  background-color: #000000;
}

.search__amount-text {
  color: #f2f2f2;
}

.search__form-btn {
  width: 458px;
  height: 58px;
  margin-bottom: 55px;

  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.search__form-btn:hover {
  background-color: #669ec0;
}

.search__form-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.index-main__map {
  width: 100%;
  height: 593px;

  background-image: url("../img/map.jpg");
  background-position: center;
}

/*---------------------------HOTELS----------------------------------*/

.filter {
  display: flex;
  min-height: 217px;
  padding-top: 30px;
  padding-left: 6%;
  padding-right: 6%;

  color: #ffffff;

  background-image: url("../img/hotels-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.filter__infrastructure,
.filter__type,
.filter__range {
  display: flex;
  margin: 0;
  padding: 0;

  border: none;
}

.filter__range {
  min-width: 220px;
  width: 30%;
}

.filter__legend,
.filter__range-legend {
  padding: 0;

  font-size: 16px;
  font-weight: 700;
}

.filter__legend {
  margin-bottom: 24px;
}

.filter__range-legend {
  margin-bottom: 12px;
}

.filter__infrastructure {
  margin-right: 100px;
}

.filter__type {
  margin-right: auto;
}

.filter__label {
  position: relative;

  margin-bottom: 23px;
  padding-left: 40px;
  padding-top: 3px;
  padding-bottom: 3px;

  cursor: pointer;
}

.filter__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter__checkbox:checked + .filter__label::before {
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}

.filter__checkbox:focus + .filter__label::before {
  box-shadow: 0px 0px 2px 2px #81b3d2;
}

.range__price {
  position: relative;

  display: flex;

  height: 37px;
  margin-bottom: 20px;

  border: 2px solid #ffffff;
  border-radius: 3px;
}

.range__price::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;
  margin-top: -11px;
  margin-left: -1px;

  background-color: #ffffff;
}

.range__price-min,
.range__price-max {
  width: 50%;
  padding-top: 6px;

  text-align: center;
}

.range__price input {
  width: 35px;

  font-family: inherit;
  font-size: inherit;
  color: #ffffff;

  border: none;
  background-color: transparent;
}

.range__controls {
  position: relative;

  height: 11px;
  margin-bottom: 32px;
}

.range__scale {
  width: 100%;
  height: 2px;

  background-color: rgba(255, 255, 255,0.3);
}

.range__bar {
  width: 80%;
  height: 2px;

  background-color: #ffffff;
}

.range__toggle {
  position: absolute;
  top: -9px;

  width: 20px;
  height: 20px;

  border: 8px solid #ffffff;
  border-radius: 50%;

  background-color: #ababab;

  cursor: pointer;
}

.range__toggle:hover {
  top: -10px;
  left: -1px;

  width: 22px;
  height: 22px;
}

.range__toggle--max {
  left: 75%;
}

.range__toggle--max:hover {
  left: calc(75% - 1px);
}

.filter__submit {
  width: 137px;
  height: 36px;
  margin: 0 auto;

  font-style: inherit;
  font-size: inherit;
  text-transform: inherit;
  color: inherit;

  border: 2px solid #ffffff;
  border-radius: 3px;

  background-color: transparent;

  cursor: pointer;
}

.filter__submit:hover {
  color: #000000;

  background-color: #ffffff;
}

.sort {
  display: flex;
  align-items: baseline;

  padding-top: 30px;
  padding-left: 6%;
  padding-right: 6%;

  border-bottom: 1px solid #e5e5e5;
}

.sort__amount {
  margin: 0;
  margin-right: 50px;
  margin-bottom: 30px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort__text {
  margin: 0;
  margin-right: 40px;

  font-size: 12px;
}

.sort__button {
  margin-right: 30px;
  padding: 0;

  font-family: inherit;
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #81b3d2;

  cursor: pointer;
}

.sort__button:hover {
  color: #81b3d2;
}

.sort__button:active {
  color: #000000;

  border: none;
}

.sort__button--active {
  color: #81b3d2;

  border: none;
}

.sort__rating {
  margin-right: auto;
}

.sort__direction {
  background-color: transparent;
  border-style: solid;

  cursor: pointer;
}

.sort__ascending {
  position: relative;
  top: -8px;

  width: 10px;
  height: 10px;
  padding: 0;
  margin-right: 12px;

  border-color: transparent;
  border-bottom-color: #cacaca;
  border-bottom-width: 10px;
  border-right-width: 5px;
  border-left-width: 5px;
}

.sort__ascending:hover {
  border-bottom-color: #000000;
}

.sort__ascending:active,
.sort__ascending--active {
  border-bottom-color: #81b3d2;
}

.sort__descending:hover {
  border-top-color: #000000;
}

.sort__descending:active,
.sort__descending--active {
  border-top-color: #81b3d2;
}

.sort__descending {
  position: relative;
  top: 2px;

  width: 10px;
  height: 10px;
  padding: 0;

  border-color: transparent;
  border-top-color: #cacaca;
  border-top-width: 10px;
  border-right-width: 5px;
  border-left-width: 5px;
}

.result__list {
  margin: 0;
  padding: 0;
}

.result__item {
  display: flex;

  padding-left: 6%;
  padding-right: 6%;
  padding-top: 30px;
  padding-bottom: 30px;

  border-bottom: 1px solid #e5e5e5;
}

.result__photo-link {
  margin-right: 30px;
}

.result__middle-col {
  margin-right: auto;
}

.result__title {
  margin: 0;
  margin-bottom: 13px;

  font-size: 21px;
}

.result__info {
  width: 185px;
  margin: 0;
  margin-bottom: 15px;
}

.result__price {
  float: right;
}

.result__button {
  display: inline-block;

  height: 27px;
  margin-right: 2px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 4px;

  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.result__details {
  background-color: #81b3d2;
}

.result__order {
  background-color: #766357;
}

.result__stars {
  height: 17px;
}

.result__stars span {
  display: inline-block;
  float: right;
  width: 18px;
  height: 17px;
  margin-left: 6px;

  background-image: url("../img/star.svg");
}

.result__rating {
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 13px;

  background-color: #f2f2f2;
}

/*--------------------------FOOTER------------------------------------*/

.footer {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-hotels {
  position: static;
}

.footer__child {
  width: 33.3333%;
}

.footer__hashtag {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.socials {
  display: flex;
  justify-content: center;
  padding: 0;

  list-style: none;
}

.socials__link {
  display: block;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}

.socials__link:hover {
  background-color: #669ec0;
}

.socials__link:active {
  opacity: 0.7;
}

.socials__twitter {
  margin-right: 6px;

  background-image: url(../img/twitter.svg);
}

.socials__facebook {
  margin-right: 6px;

  background-image: url(../img/fb-icon.svg);
}

.socials__youtube {
  background-image: url(../img/youtube.svg);
}

.footer__copyright {
  text-align: center;
}

.footer__copyright-text {
  display: inline-block;
  margin-top: 10px;
}

.footer__copyright-link {
  display: inline-block;
  width: 115px;
  height: 41px;

  vertical-align: top;

  background-image: url("../img/htmlacademy.svg");
}

.footer__copyright-link:hover {
  background-image: url("../img/htmlacademy-hover.svg");
}

.footer__copyright-link:active {
  background-image: url("../img/htmlacademy-active.svg");
}

.flex-show {
  display: flex;
}