html,
body {
    min-width: 960px;
	margin: 0;
	padding: 0;
    
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Georgia", serif;
    color: #000000;
    text-transform: uppercase;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    
    border: 0;
    
    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

.index-main {
    margin: 0;
    padding: 0;
}

main:not(.index-main) {
    background-color: #f8f5f2;
    background-image: url(../img/background.jpg);
}

.btn {
    display: inline-block;
    width: 140px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    
    background-color: #000000;
    border: none;
}

.btn:focus,
.btn:hover {
    background-color: #663d15;
}

.breadcrumbs {
    list-style: none;
    display: flex;    
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

.breadcrumbs li:not(:first-of-type) {
    position: relative;
    
    padding-left: 40px;
}

.breadcrumbs li:not(:first-of-type)::before{
    content: "";
    position: absolute;
    left: 16px;
    top: 8px;
    
    width: 8px;
    height: 8px;
        
    background-color: #000000;
    
    transform: rotate(45deg);
}

.breadcrumbs a:not(.current) {
    color: #000000;
    text-decoration: none;
}

.breadcrumbs a:not(.current):focus,
.breadcrumbs a:not(.current):hover {
    color: #663d15;
}

.breadcrumbs a.current {
    color: #aba9a7;
}

/*_INDEX_*/
.index-body {
    background-color: #000000;
    background-image: url(../img/background-main.jpg);
    background-repeat: no-repeat;
}

.main-header {
    background-color: transparent;
}

.main-nav {
    display: flex;
    flex-direction: column;
}

.main-header-logo {
    order: 1;
    margin: 60px auto 80px;
}

.header-logo {
    margin: auto 20px;
}

.main-nav-wrapper {    
    background-color: #000000;
}

.main-nav-wrapper .container {
    display: flex;
}

.site-nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    
    margin: 0;
    padding: 0;
}

.site-nav a {
    position: relative;
    
    display: block;
    padding: 25px 20px;
    
    color: #ffffff;
    text-decoration: none;
    vertical-align: middle;
}

.site-nav a:focus,
.site-nav a:hover {
    background-color: #242424;   
    outline: none;
}

.site-nav a.current::after {
    content: "";
    
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    
    height: 4px;
    
    background-color: #ffffff;
}

.user-nav {
    list-style: none;
    display: flex;
    width: 220px;
    justify-content: flex-end;
    flex-wrap: wrap;
    
    margin: 0;
    padding: 0;
}

.user-nav a {
    display: block;
    padding: 25px 20px;
    
    color: #ffffff;
    text-decoration: none;
    vertical-align: middle;
}

.user-nav .login-link {
    position: relative;
    padding-left: 55px;
}

.user-nav .login-link::before {
    content: "";
    
    position: absolute;
    left: 25px;
    top: 30px;
    
    width: 14px;
    height: 14px;
    
    background-image: url(../img/login.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    
    opacity: 0.3;
}

.user-nav .login-link:hover::before,
.user-nav .login-link:active::before {
    opacity: 1;
}

.user-nav a:focus,
.user-nav a:hover {
    background-color: #242424;   
    outline: none;
}

.features-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    
    color: #ffffff;
}

.feature-item {
    width: 300px;
    
    text-align: center;
}

.feature-item b {
    position: relative;
    
    display: block;
    margin-bottom: 65px;
    
    font-size: 30px;
    line-height: 42px;
}

.feature-item b::after {
    content: "";
    
    position: absolute;
    left: 50%;
    bottom: -30px;
    
    width: 20px;
    height: 20px;
    margin-left: -10px;
    
    transform: rotate(45deg);
    
    background-color: #ffffff;
}

.index-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0;
    
    background-color: #f8f5f2;
    background-image: url(../img/Card.jpg);
}

.index-card:last-of-type {
    margin-bottom: 65px;
}

.index-card section {
    margin: 50px 0;
}

.index-card section:first-child {
    width: 380px;
    margin-left: 80px;
}

.index-card section:last-child {
    width: 300px;
    margin-right: 80px;
}

.index-card h2 {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    
    font-size: 30px;
    line-height: 42px;
}

.news-list {
    list-style: none;
    
    margin: 0;
    padding: 0;
}

.news-list p {
    margin-bottom: 30px;
}

.news-list time {
    text-transform: lowercase;
}

.gallery {
    position: relative;
}

.gallery-content a img {
    border: 7px solid #ffffff;
}

.gallery-btn {
    box-sizing: border-box;
    
    position: absolute;
    bottom: 0;
    
    width: 140px;
    height: 44px;
}

.gallery-btn-prev {
    left: 0;
}

.gallery-btn-next {
    right: 0;
}

.contacts .btn:first-of-type {
    margin-right: 16px;
}

.appointment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.appointment-item {
    width: 140px;
    margin: 0;
}

.appointment-item label {
    padding-left: 15px;
}

.appointment input {
    box-sizing: border-box;
    width: 140px;
    height: 43px;
    padding: 10px 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    
    border: 2px solid #000000;
}

.appointment input:focus,
.appointment input:hover {
    border: 2px solid #663d15;
    outline: none;
}

.appointment-btn {
    margin-top: 15px;
    width: 100%;
}

/*_ITEM_*/

.item-name {
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 55px;
}

.item-wrapper {
    display: flex;
    margin-top: 55px;
}

.item-gallery-main-photo {
    width: 460px;
    height: 498px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
}

.item-gallery-photos-item {
    width: 140px;
    height: 149px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
}

.item-gallery-photos {
    list-style: none;
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 0;
}

.item-description {
    width: 390px;
    margin-left: 90px;
    margin-top: 25px;
}

.article {
    float: right;
    padding: 0;
    margin: 0;
    
    color: #aba9a7;
}

.item-description p:last-of-type {
    margin-top: 40px;
    margin-bottom: 65px;
}

.item-description p:last-of-type b {
    display: inline-block;
    width: 109px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    text-align: center;

    background-color: #e5e5e5;
}

.item-description p:last-of-type .buy-btn {
    width: 78px;
    height: 43px;
    margin-top: -3px;
}

.item-description h3 {
    margin-bottom: 35px;
    
    font-size: 24px;
    line-height: 30px;
}

.item-description ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-description li {
    position: relative;
    
    padding-left: 20px;
    margin-bottom: 0;
}

.item-description li::before {
    content: "";
    
    position: absolute;
    left: 1px;
    top: 8px;
    
    width: 8px;
    height: 8px;
    
    background-color: #000000;
    
    transform: rotate(45deg);
}

/*_SHOP_*/

.shop-wrapper {
    display: flex;
}

.shop-filter {
    width: 220px;
}

.shop-filter fieldset {
    width: 170px;
    
    border: none;
}

.shop-filter legend {
    padding-bottom: 30px;
    padding-top: 55px;
    
    font-size: 24px;
    line-height: 30px;
}

.shop-filter p {
    margin: 0;
    padding: 0;
}

.shop-filter input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    
    width: 17px;
    height: 17px;
    border: 2px solid #000000;
}

.shop-filter input[type="checkbox"]:focus + .checkbox-indicator {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-ficus-ring-color;
}

.shop-filter input[type="checkbox"]:checked + .checkbox-indicator::after,
.shop-filter input[type="checkbox"]:checked + .checkbox-indicator::before {
    content: "";
    
    position: absolute;
    top: 7px;
    left: 1px;
    
    width: 15px;
    height: 2px;
    background-color: #000000;
}

.shop-filter input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(45deg);
}

.shop-filter input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(-45deg);
}

.shop-filter input[type="radio"] + .radio-indicator {
    position: absolute;
    
    width: 17px;
    height: 17px;
    border: 2px solid #000000;
    border-radius: 50%;
}

.shop-filter input[type="radio"]:focus + .radio-indicator {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-ficus-ring-color;
}

.shop-filter input[type="radio"]:checked + .radio-indicator::after {
    content: "";
    
    position: absolute;
    top: 4px;
    left: 4px;
    
    width: 8px;
    height: 8px;
    background-color: #000000;
    border-radius: 50%;
}

.shop-filter label {
    position: relative;
    
    display: inline-block;
    padding-left: 45px;
    padding-bottom: 15px;
    
}

.shop-filter label::before {
    content: "";
    
    position: absolute;
    left: 0;
    top: 3px;
    
    width: 20px;
    height: 20px;
    
    background-image: url(../img/check.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.shop-filter label:focus,
.shop-filter label:hover,
.shop-filter input:focus,
.shop-filter input:hover {
    color: #663d15;
}

.shop-filter-btn {
    box-sizing: border-box;
    width: 112px;
    height: 43px;
    
    margin-left: 12px;
    margin-top: 30px;
}

.goods-list {
    list-style: none;
    width: 700px;
    margin: 0;
    margin-left: 20px;
    margin-top: 60px;
    padding: 0;
}

.goods-item {
    display: inline-block;
    width: 220px;
    min-height: 286px;
    margin-right: 16px;
    margin-bottom: 20px;
    
    background-color: #ffffff;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);    
}

.goods-item:nth-of-type(3n) {
    margin-right: 0;
}

.goods-item a {
    text-decoration: none;
    color: #000000;
}

.goods-item a:focus,
.goods-item a:hover {
    color: #663d15;
}

.goods-item p,
.goods-item b {
    margin-left: 15px;
    margin-bottom: 0;
}

.goods-item a p {
    text-transform: none;
    padding: 0;
}

.goods-item > p {
    margin-bottom: 15px;
}

.goods-item p:last-of-type b {
    display: inline-block;
    width: 109px;
    padding-top: 10px;
    padding-bottom: 9px;
    margin-left: 0;
    
    text-align: center;
    background-color: #e5e5e5;
}

.goods-item p:last-of-type .btn {
    width: 78px;
    height: 43px;
    margin-top: -4px;
}

.shop-pagination {
    list-style: none;
    
    margin: 0;
    margin-bottom: 50px;
    margin-left: 20px;
    padding: 0;
}

.shop-pagination a {
    display: inline-block;
    width: 43px;
    height: 33px;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    
    text-align: center;
}

.shop-pagination-item {    
    display: inline-block;
    box-sizing: border-box;
    width: 43px;
    height: 43px;
    margin-right: 5px;
    
    background-color: #000000;
}

.shop-pagination-item:not(.current) a {
    color: #ffffff;
    text-decoration: none;
}

.shop-pagination-item:not(.current):focus,
.shop-pagination-item:not(.current):hover {
    background-color: #663d15;
}

.shop-pagination-item.current {
    background-color: #ffffff;
}

/*_PRICE_*/

.promo {
    font-size: 48px;
    line-height: 48px;
}



.price-main h2 {
    font-size: 24px;
    line-height: 30px;
}

.prices table {
    border-collapse: collapse;
}

.prices td {
    border: 2px solid #000000;
}

/*_FOOTER_*/

.main-footer {
    margin: 0;
    padding: 0;
    
    color: #ffffff;
    
    background-color: #232323;
    background-image: url(../img/footer-background.jpg);
}

.main-footer .container {
    display: flex;
    padding-top: 60px;
    padding-bottom: 40px;
}

.main-footer .container p:first-of-type {
    width: 320px;
    margin: 0;
    padding-right: 80px;
}

.footer-socials {
    width: 140px;
    margin-right: 260px;
    
    text-align: center;
}

.footer-socials-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

.social-btn {
    width: 43px;
    height: 43px;
    padding: 0;
}

.social-btn-vk {
    background-image: url(../img/vk.svg);
    background-position: 50%;
    background-repeat: no-repeat;
}

.social-btn-fb {
    background-image: url(../img/fb.svg);
    background-position: 50%;
    background-repeat: no-repeat;
}

.social-btn-in {
    background-image: url(../img/in.svg);
    background-position: 50%;
    background-repeat: no-repeat;
}

.social-btn-vk:hover,
.social-btn-vk:active,
.social-btn-vk:focus {
    background-image: url(../img/vk-b.svg);
}

.social-btn-fb:hover,
.social-btn-fb:active,
.social-btn-fb:focus {
    background-image: url(../img/fb-b.svg);
}

.social-btn-in:hover,
.social-btn-in:active,
.social-btn-in:focus {
    background-image: url(../img/in-b.svg);
}

.main-footer .container p:last-of-type {
    display: flex;
    flex-direction: column;
    width: 140px;
    margin: 0;
    padding: 0;
    
    text-align: center;
}

.copyright-btn {
    height: 24px;
    margin-top: 20px;
}

.main-footer a:not(.btn) {
    color: #ffffff;
}

.social-btn:focus,
.social-btn:hover,
.copyright-btn:focus,
.copyright-btn:hover {
    color: #000000;
    background-color: #ffffff;
}

/*_MODALS_*/

.modal-login {
    display: none;
    position: fixed;
    top: 120px;
    left: 50%;
    
    box-sizing: border-box;
    width: 460px;
    height: 385px;
    margin: 0;
    margin-left: -230px;
    padding: 50px 80px;
    
    background-color: #f8f5f2;
    background-image: url(../img/background.jpg);
    border: 1px solid transparent;
    box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.7);
}

.modal-login h2 {
    margin: 0;
    margin-bottom: 20px;
    
    font-size: 30px;
    line-height: 36px;
}

.modal-login input[type="text"],
.modal-login input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    min-height: 43px;
    margin: 0;
    padding: 0px 40px 0px 15px;
    
    text-transform: uppercase;
    
    border: 2px solid #000000;
}

.modal-form-login {
    background-image: url(../img/user.svg);
    background-position: 270px center;
    background-repeat: no-repeat;
}

.modal-form-password {
    background-image: url(../img/lock.svg);
    background-position: 270px center;
    background-repeat: no-repeat;
}

.modal-login input[type="text"]:focus,
.modal-login input[type="text"]:hover,
.modal-login input[type="password"]:focus,
.modal-login input[type="password"]:hover {
    border: 2px solid #663d15;
    outline: none;
}

.modal-form-info input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    
    width: 17px;
    height: 17px;
    border: 2px solid #000000;
}

.modal-form-info input[type="checkbox"]:focus + .checkbox-indicator {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-ficus-ring-color;
}

.modal-form-info input[type="checkbox"]:checked + .checkbox-indicator::after,
.modal-form-info input[type="checkbox"]:checked + .checkbox-indicator::before {
    content: "";
    
    position: absolute;
    top: 7px;
    left: 1px;
    
    width: 15px;
    height: 2px;
    background-color: #000000;
}

.modal-form-info input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(45deg);
}

.modal-form-info input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(-45deg);
}

.modal-form-info label[for="remember"] {
    padding-left: 32px;
}

.restore {
    float: right;
    color: #000000;
}

.restore:focus,
.restore:hover {
    color: #663d15;
}

.modal-form .modal-btn {
    width: 100%;
}

.modal-map {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    
    width: 766px;
    height: 560px;
    margin-left: -390px;
    margin-top: -287px;
    
    border: 7px solid #ffffff;
    box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.7);
}

@keyframes bounce {
    0%    { transform: translateY(-2000px); }
    70%   { transform: translateY(30px);    }
    90%   { transform: translateY(-10px);   }
    100%  { transform: translateY(0px);     }
}

@keyframes shake {
    0%, 100%                { transform: translateX(0);     }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80%      { transform: translateX(10px);  }
}

.modal-show {
    display: block;
    animation-name: bounce;
    animation-duration: 0.6s;
}

.modal-error {
    animation-name: shake;
    animation-duration: 0.85s;
}

.modal-close {
    content: "";
    
    position: absolute;
    top: 0;
    right: -24px;
    
    width: 25px;
    height: 19px;
    
    font-size: 0;
    
    background: transparent;
    border: none;
}

.modal-close::after,
.modal-close::before {
    content: "";
    
    position: absolute;
    
    width: 21px;
    height: 3px;
    
    background-color: #d0d0d0;
}

.modal-close::after {
    transform: rotate(45deg);
}

.modal-close::before {
    transform: rotate(-45deg);
}