@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff") format("woff");
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff") format("woff");
  src: url("../fonts/oswaldmedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html,
body {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Oswald", arial, sans-serif;
  font-weight: 400; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.button {
  display: inline-block;
  height: 40px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  vertical-align: middle;
  text-align: center;
  background-color: #68b738;
  border: none;
  cursor: pointer; }
  .button:hover, .button:focus {
    background-color: #5eaa2f; }
  .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f; }

.button--link {
  padding-top: 9px; }

.button--grey {
  color: #444444;
  background-color: #f2f2f2; }
  .button--grey:hover, .button--grey:focus {
    background-color: #eaeaea; }
  .button--grey:active {
    color: rgba(68, 68, 68, 0.3); }

.header {
  position: relative;
  width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 768px;
      padding-top: 41px;
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1300px) {
    .header {
      width: 1300px;
      padding-top: 75px;
      padding-left: 40px;
      padding-right: 40px; } }

.header__logo {
  display: block;
  width: 320px;
  height: 66px;
  padding-top: 11px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer; }
  .header__logo:focus, .header__logo:hover {
    opacity: 0.8; }
  .header__logo:active {
    opacity: 0.6; }
  @media (min-width: 768px) {
    .header__logo {
      width: 173px;
      height: 58px;
      margin-top: -17px;
      padding: 0;
      border: none; } }
  @media (min-width: 1300px) {
    .header__logo {
      margin-top: -20px; } }

.header__logo-img {
  width: 191px; }
  @media (min-width: 768px) {
    .header__logo-img {
      width: 178px; } }
  @media (min-width: 1300px) {
    .header__logo-img {
      width: 202px; } }

.header__toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 64px;
  height: 65px;
  padding-left: 20px;
  background-color: white;
  border: none;
  cursor: pointer; }
  .header__toggle:hover, .header__toggle:focus {
    background-color: #f2f2f2; }
  .header__toggle:active {
    background-color: #68b738; }
  @media (min-width: 768px) {
    .header__toggle {
      display: none; } }

.header__toggle--opened {
  left: 0; }

.header__toggle-bar {
  position: relative;
  display: block;
  width: 24px;
  height: 2px;
  background-color: black; }
  .header__toggle-bar::before, .header__toggle-bar::after {
    content: "";
    position: absolute;
    top: -8px;
    display: block;
    width: 24px;
    height: 2px;
    background-color: black; }
  .header__toggle-bar::after {
    top: 8px; }

.header__toggle--opened .header__toggle-bar {
  background-color: transparent; }
  .header__toggle--opened .header__toggle-bar::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .header__toggle--opened .header__toggle-bar::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.header--no-js .header__toggle {
  display: none; }

.header__navigation {
  display: none; }
  @media (min-width: 768px) {
    .header__navigation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.header--no-js .header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navigation {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 768px) {
    .navigation {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.navigation__link {
  height: 66px;
  padding-top: 19px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  border-bottom: 1px solid #e6e6e6; }
  .navigation__link:focus, .navigation__link:hover {
    opacity: 0.6; }
  .navigation__link:active {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .navigation__link {
      height: 35px;
      margin-left: 35px;
      padding-top: 0;
      font-size: 18px;
      color: #222222;
      font-weight: 400;
      border-bottom: none; } }
  @media (min-width: 1300px) {
    .navigation__link {
      font-size: 20px;
      line-height: 25px; } }

@media (min-width: 768px) {
  .navigation__link--active {
    border-bottom: 2px solid #68b738; } }

@media (min-width: 1300px) {
  .navigation__link--white {
    color: white; } }

@media (min-width: 1300px) {
  .navigation__link--white.navigation__link--active {
    border-color: white; } }

.promo {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-top: 27px; }
  @media (min-width: 768px) {
    .promo {
      width: 768px;
      padding-top: 59px;
      padding-left: 120px;
      padding-right: 120px; } }
  @media (min-width: 1300px) {
    .promo {
      width: 1300px;
      margin: 0 auto;
      padding-top: 109px;
      padding-left: 123px;
      padding-right: 690px; } }

.promo__background {
  position: absolute;
  top: 0;
  width: 320px;
  height: 305px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  z-index: -1; }
  @media (min-width: 768px) {
    .promo__background {
      display: none; } }
  @media (min-width: 1300px) {
    .promo__background {
      top: -113px;
      left: 650px;
      display: block;
      width: 720px;
      height: 696px;
      background-image: url("../img/index-background-desktop@1x.jpg"); } }

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: white;
  text-align: center; }
  @media (min-width: 768px) {
    .promo__title {
      margin-bottom: 40px;
      margin-left: -3px;
      color: black;
      font-size: 60px;
      line-height: 60px;
      text-align: left; } }

.promo__slogan {
  margin: 0;
  margin-left: -1px;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: white;
  text-align: center; }
  @media (min-width: 768px) {
    .promo__slogan {
      margin-bottom: 49px;
      color: black;
      font-size: 20px;
      line-height: 20px;
      text-align: left; } }
  @media (min-width: 1300px) {
    .promo__slogan {
      margin-bottom: 56px; } }

.promo__img {
  margin-left: 20px; }
  @media (min-width: 768px) {
    .promo__img {
      position: absolute;
      top: 260px;
      left: 30px;
      margin: 0;
      z-index: -1; } }
  @media (min-width: 1300px) {
    .promo__img {
      top: 30px;
      left: 490px; } }

.promo__button {
  margin-top: -2px;
  margin-left: 20px;
  margin-bottom: 23px;
  width: 280px;
  font-size: 14px;
  line-height: 18px; }
  @media (min-width: 768px) {
    .promo__button {
      width: 245px;
      height: 52px;
      margin-left: 0;
      margin-bottom: 530px;
      padding-top: 17px;
      font-size: 20px; } }
  @media (min-width: 1300px) {
    .promo__button {
      margin-left: -2px;
      margin-bottom: 268px; } }

.categories {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .categories {
      width: 768px;
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1300px) {
    .categories {
      width: 1300px;
      padding-left: 40px;
      padding-right: 40px; } }

.categories__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 1300px) {
    .categories__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.categories__item {
  position: relative;
  margin-bottom: 20px;
  padding-top: 29px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2; }
  @media (min-width: 768px) {
    .categories__item {
      margin-bottom: 30px;
      padding-top: 75px;
      padding-left: 53px;
      padding-right: 283px; } }
  @media (min-width: 1300px) {
    .categories__item {
      width: 570px;
      padding-top: 76px;
      padding-right: 55px; } }

.categories__image {
  position: absolute;
  top: 25px;
  left: 22px;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%; }
  @media (min-width: 768px) {
    .categories__image {
      top: 92px;
      left: 446px;
      width: 200px;
      height: 200px; } }
  @media (min-width: 1300px) {
    .categories__image {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px; } }

.categories__image--slim::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 8px;
  width: 35px;
  height: 49px;
  background-image: url("../img/icon-cat-slim.svg"); }
  @media (min-width: 768px) {
    .categories__image--slim::before {
      top: -12px;
      left: 30px;
      width: 140px;
      height: 194px; } }
  @media (min-width: 1300px) {
    .categories__image--slim::before {
      top: -6px;
      left: 14px;
      width: 70px;
      height: 97px; } }

.categories__image--pro::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -9px;
  width: 67px;
  height: 28px;
  background-image: url("../img/icon-cat-pro.svg"); }
  @media (min-width: 768px) {
    .categories__image--pro::before {
      top: 42px;
      left: -34px;
      width: 268px;
      height: 112px; } }
  @media (min-width: 1300px) {
    .categories__image--pro::before {
      top: 22px;
      left: -18px;
      width: 134px;
      height: 56px; } }

.categories__title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 71px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .categories__title {
      margin-bottom: 26px;
      padding-left: 0;
      font-size: 36px;
      line-height: 37px; } }
  @media (min-width: 1300px) {
    .categories__title {
      margin-bottom: 75px;
      padding-left: 162px; } }

.categories__text {
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 22px;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9; }
  @media (min-width: 768px) {
    .categories__text {
      margin-bottom: 35px;
      font-size: 16px;
      line-height: 24px;
      border: none; } }
  @media (min-width: 1300px) {
    .categories__text {
      margin-bottom: 9px; } }

@media (min-width: 768px) and (max-width: 1299px) {
  .categories__text--pro {
    width: 340px; } }

.categories__link {
  position: relative;
  display: inline-block;
  margin-bottom: 19px;
  font-size: 16px;
  line-height: 16px;
  color: black;
  text-transform: uppercase;
  text-decoration: none; }
  .categories__link::before {
    content: "";
    position: absolute;
    top: 3px;
    right: -36px;
    width: 24px;
    height: 11px;
    background-image: url(../img/icon-right-arrow-long.svg); }
  .categories__link:hover::before, .categories__link:focus::before {
    right: -44px;
    width: 32px;
    background-image: url(../img/icon-right-arrow-verylong.svg); }
  .categories__link:active {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .categories__link {
      margin-bottom: 62px;
      font-size: 20px;
      line-height: 20px; }
      .categories__link::before {
        top: 5px;
        right: -49px; }
      .categories__link:hover::before, .categories__link:focus::before {
        right: -57px; } }

.features {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 45px;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .features {
      width: 768px;
      margin-top: 43px;
      margin-bottom: 0;
      padding-left: 30px;
      padding-right: 30px;
      border-bottom: 1px solid #e6e6e6; } }
  @media (min-width: 1300px) {
    .features {
      width: 1300px;
      margin-top: 41px;
      padding-left: 40px;
      padding-right: 40px;
      border-bottom: none; } }

.features__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400; }
  @media (min-width: 768px) {
    .features__title {
      margin-bottom: 72px;
      font-size: 60px; } }

.features__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .features__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.features__item {
  position: relative;
  margin-top: 0;
  margin-bottom: 25px;
  padding-top: 2px;
  padding-left: 80px; }
  .features__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-position: center;
    background-repeat: no-repeat; }
  @media (min-width: 768px) {
    .features__item {
      width: 324px;
      margin-bottom: 132px;
      padding-top: 113px;
      padding-left: 0;
      padding-right: 70px; }
      .features__item--meal, .features__item--time {
        margin-bottom: 102px; }
      .features__item::before {
        width: 80px;
        height: 80px; }
      .features__item::after {
        content: "1";
        position: absolute;
        top: -107px;
        right: 96px;
        font-size: 281px;
        color: #f2f2f2;
        z-index: -1; } }
  @media (min-width: 1300px) {
    .features__item {
      width: 245px;
      margin-bottom: 100px;
      padding-right: 0; }
      .features__item--natural, .features__item--meal {
        padding-right: 20px; }
      .features__item::after {
        right: 14px; } }

.features__item--natural::before {
  background-image: url(../img/advantage-leaf@1x.png); }

.features__item--powder::before {
  background-image: url(../img/advantage-powder@1x.png); }

@media (min-width: 768px) {
  .features__item--powder::after {
    content: "2"; } }

.features__item--meal::before {
  background-image: url(../img/advantage-dining@1x.png); }

@media (min-width: 768px) {
  .features__item--meal::after {
    content: "3"; } }

.features__item--time::before {
  background-image: url(../img/advantage-clock@1x.png); }

@media (min-width: 768px) {
  .features__item--time::after {
    content: "4"; } }

.features__text {
  margin: 0;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444; }
  @media (min-width: 768px) {
    .features__text {
      font-size: 16px;
      line-height: 24px; } }

.example {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-top: 17px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  background-color: #f2f2f2; }
  @media (min-width: 768px) {
    .example {
      width: 768px;
      padding-top: 41px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 68px;
      background-color: transparent; } }
  @media (min-width: 1300px) {
    .example {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 1300px;
      height: 639px;
      padding-top: 26px;
      padding-left: 40px;
      padding-bottom: 0; } }

@media (min-width: 768px) {
  .example__background {
    position: absolute;
    top: 620px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f2f2;
    z-index: -1; } }

@media (min-width: 1300px) {
  .example__background {
    top: 161px; } }

.example__title {
  margin: 0;
  margin-bottom: 22px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400; }
  @media (min-width: 768px) {
    .example__title {
      font-size: 60px;
      margin-bottom: 64px; } }
  @media (min-width: 1300px) {
    .example__title {
      width: 340px;
      margin-bottom: 132px; } }

.example__text {
  margin-bottom: 24px;
  padding-right: 10px;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444; }
  @media (min-width: 768px) {
    .example__text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 52px; } }
  @media (min-width: 1300px) {
    .example__text {
      width: 445px;
      margin-bottom: 65px; } }

.example__table {
  margin-bottom: 15px;
  width: 280px; }
  @media (min-width: 768px) {
    .example__table {
      width: 360px; } }
  @media (min-width: 1300px) {
    .example__table {
      margin-bottom: 48px; } }

.example__table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  @media (min-width: 768px) {
    .example__table tr {
      width: 362px; } }

.example__table td {
  display: inline-block; }

.example__table-item--top {
  width: 124px;
  height: 56px;
  padding-top: 12px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px; }
  @media (min-width: 768px) {
    .example__table-item--top {
      width: 162px;
      height: 72px;
      padding-top: 15px;
      font-size: 30px;
      line-height: 37px; }
      .example__table-item--top:first-of-type {
        margin-right: 42px; } }

.example__table-item--bottom {
  width: 88px;
  margin-top: -10px;
  margin-left: 15px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
  background-color: #f2f2f2; }
  .example__table-item--bottom:last-of-type {
    margin-right: 17px; }
  @media (min-width: 768px) {
    .example__table-item--bottom {
      width: 115px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      margin-top: -10px;
      margin-left: 21px;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      background-color: white; }
      .example__table-item--bottom:last-of-type {
        width: 144px;
        margin-left: 75px; } }
  @media (min-width: 1300px) {
    .example__table-item--bottom {
      background-color: #f2f2f2; } }

.example__expenses {
  margin: 0;
  margin-bottom: 34px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 768px) {
    .example__expenses {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      margin: 0;
      margin-top: -87px;
      margin-bottom: 260px;
      font-size: 20px;
      line-height: 29px; } }
  @media (min-width: 1300px) {
    .example__expenses {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 328px;
      margin: 0; } }

@media (min-width: 1300px) {
  .slider {
    width: 690px;
    margin-top: 139px; } }

.slider__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 232px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .slider__list {
      height: 323px; } }
  @media (min-width: 1300px) {
    .slider__list {
      margin-bottom: 32px; } }

.slider__img {
  position: absolute;
  top: 0;
  left: -20px; }

@media (min-width: 768px) {
  .slider__img--before {
    top: -167px;
    left: 16px; } }

@media (min-width: 1300px) {
  .slider__img--before {
    top: -195px;
    left: 77px; } }

.slider__img--after {
  display: none; }
  @media (min-width: 768px) {
    .slider__img--after {
      top: -168px;
      left: 15px; } }
  @media (min-width: 1300px) {
    .slider__img--after {
      top: -195px;
      left: 77px; } }

.slider__controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 197px;
  margin-left: 44px; }
  @media (min-width: 768px) {
    .slider__controls {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      width: 570px;
      margin-left: 70px; } }
  @media (min-width: 1300px) {
    .slider__controls {
      margin-left: 158px; } }

@media (min-width: 768px) {
  .slider__controls-bar {
    width: 428px;
    height: 6px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
    background-color: #dcdcdc;
    border-radius: 2.5px; } }

@media (max-width: 767px) {
  .slider__controls-indicator {
    position: relative;
    width: 84px;
    height: 14px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid #cdcdcd;
    border-radius: 6px; }
    .slider__controls-indicator::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 5px;
      width: 35px;
      height: 6px;
      background-color: #68b738;
      border-radius: 3px; } }

@media (min-width: 768px) {
  .slider__controls-indicator {
    position: absolute;
    top: 0;
    left: 50%;
    width: 34px;
    height: 34px;
    margin-left: -19px;
    background-color: white;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer; }
    .slider__controls-indicator::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      margin-top: -4px;
      margin-left: -4px;
      background-color: #68b738;
      border-radius: 50%; }
    .slider__controls-indicator:hover, .slider__controls-indicator:focus {
      -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25); }
    .slider__controls-indicator:active {
      border: 2px solid #68b738;
      -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
              box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3); } }

.slider__button {
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  @media (min-width: 768px) {
    .slider__button {
      font-size: 20px;
      line-height: 32px;
      border-bottom: 1px dotted #bebebe; }
      .slider__button:hover, .slider__button:focus {
        border-bottom: 1px solid #bebebe; }
      .slider__button:active {
        border-bottom: none; } }

.main-catalog {
  width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .main-catalog {
      width: 768px; } }
  @media (min-width: 1300px) {
    .main-catalog {
      width: 1300px; } }

.main-catalog__title {
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 28px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400; }
  @media (min-width: 768px) {
    .main-catalog__title {
      margin-top: 60px;
      margin-left: 30px;
      margin-bottom: 165px;
      font-size: 60px; } }
  @media (min-width: 1300px) {
    .main-catalog__title {
      margin-top: 71px;
      margin-left: 40px; } }

.catalog {
  margin-bottom: 42px;
  border-top: 1px solid #e6e6e6; }
  @media (min-width: 768px) {
    .catalog {
      border-top: none; } }

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .catalog__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-left: 30px;
      margin-right: 30px; } }
  @media (min-width: 1300px) {
    .catalog__list {
      margin-left: 40px;
      margin-right: 40px; } }

.catalog__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #e6e6e6; }
  @media (min-width: 768px) {
    .catalog__item {
      width: 324px;
      margin-bottom: 140px;
      padding-top: 141px;
      padding-left: 38px;
      padding-right: 38px;
      border-bottom: none;
      background-color: #f2f2f2; }
      .catalog__item:last-of-type, .catalog__item:nth-last-of-type(2) {
        margin-bottom: 46px; } }
  @media (min-width: 1300px) {
    .catalog__item {
      width: 245px; }
      .catalog__item:last-of-type, .catalog__item:nth-last-of-type(2), .catalog__item:nth-last-of-type(3), .catalog__item:nth-last-of-type(4) {
        margin-bottom: 55px; } }

@media (min-width: 768px) {
  .catalog__item--more {
    display: block;
    background-color: transparent;
    border: 1px solid #f2f2f2; } }

.catalog__item--more::before,
.catalog__item--more::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 145px;
  width: 30px;
  height: 2px;
  background-color: #d3d3d3; }
  @media (min-width: 768px) {
    .catalog__item--more::before,
    .catalog__item--more::after {
      top: 83px;
      left: 131px;
      width: 60px; } }
  @media (min-width: 1300px) {
    .catalog__item--more::before,
    .catalog__item--more::after {
      left: 91px; } }

.catalog__item--more::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

@media (min-width: 768px) {
  .catalog__item-img {
    position: absolute;
    left: 0;
    bottom: 305px; } }

.catalog__item-link {
  text-decoration: none; }

.catalog__item-link--more {
  margin: 0 auto; }

.catalog__item-title {
  width: 75px;
  margin-top: 22px;
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: black; }
  @media (min-width: 768px) {
    .catalog__item-title {
      width: 135px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 18px;
      font-size: 20px;
      text-align: center; } }

.catalog__item-title--more {
  width: auto;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 8px; }
  @media (min-width: 768px) {
    .catalog__item-title--more {
      margin-top: 22px;
      margin-bottom: 26px; } }

.catalog__table {
  width: 140px; }
  @media (min-width: 768px) {
    .catalog__table {
      width: 248px;
      margin-bottom: 31px; } }
  @media (min-width: 1300px) {
    .catalog__table {
      width: 169px; } }

.catalog__table-item {
  padding: 0;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444; }
  @media (min-width: 768px) {
    .catalog__table-item {
      font-size: 16px;
      padding-top: 7px;
      padding-bottom: 7px;
      border-bottom: 1px solid #cdcdcd; } }

.catalog__table-item--right {
  text-align: right; }

.catalog__order {
  width: 100%;
  margin-top: -5px;
  margin-bottom: 24px; }
  @media (min-width: 768px) {
    .catalog__order {
      margin-bottom: 40px; } }

.catalog__item--text {
  margin: 0 auto;
  margin-bottom: 21px;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444; }
  @media (min-width: 768px) {
    .catalog__item--text {
      width: 170px;
      margin-bottom: 85px;
      font-size: 16px;
      line-height: normal;
      text-align: center; } }

.catalog__more-link {
  width: 100%;
  margin-bottom: 24px; }

.additional {
  border-top: 3px solid #68b738; }

.additional__title {
  position: relative;
  top: -17px;
  display: inline-block;
  margin: 0;
  margin-bottom: 17px;
  padding-left: 20px;
  padding-right: 25px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: white; }
  @media (min-width: 768px) {
    .additional__title {
      top: -24px;
      margin-left: 30px;
      margin-bottom: 55px;
      padding-left: 40px;
      padding-right: 39px;
      font-size: 36px;
      line-height: 36px; } }
  @media (min-width: 1300px) {
    .additional__title {
      margin-left: 0; } }

@media (min-width: 1300px) {
  .additional__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.additional__list {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 39px;
  padding: 0;
  border-top: 1px solid #e6e6e6;
  list-style: none; }
  @media (min-width: 768px) {
    .additional__list {
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 70px; } }
  @media (min-width: 1300px) {
    .additional__list {
      width: 895px;
      margin-left: 40px;
      margin-right: 80px;
      margin-bottom: 87px; } }

.additional__item {
  padding-top: 13px;
  border-bottom: 1px solid #e6e6e6; }
  @media (min-width: 768px) {
    .additional__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      padding-top: 26px; } }
  @media (min-width: 1300px) {
    .additional__item {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding-top: 14px; } }

.additional__item-title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .additional__item-title {
      margin-bottom: 26px;
      font-size: 20px;
      line-height: 20px; } }

.additional__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444; }
  @media (min-width: 768px) {
    .additional__item-info {
      margin-bottom: 22px;
      font-size: 16px;
      line-height: 20px; } }
  @media (min-width: 1300px) {
    .additional__item-info {
      margin-right: 40px;
      margin-left: auto; } }

@media (min-width: 1300px) {
  .additional__item-amount {
    width: 245px; } }

@media (min-width: 768px) {
  .additional__item-price {
    margin-left: 53px; } }

@media (min-width: 1300px) {
  .additional__item-price {
    width: 50px;
    margin-left: 0; } }

.additional__link {
  width: 100%;
  margin-bottom: 17px; }
  @media (min-width: 768px) {
    .additional__link {
      margin-bottom: 27px; } }
  @media (min-width: 1300px) {
    .additional__link {
      width: 245px;
      margin-bottom: 16px; } }

.additional__offer {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 35px;
  padding-top: 65px;
  background-image: url(../img/gift-photo-mobile@1x.jpg); }
  @media (min-width: 768px) and (max-width: 1299px) {
    .additional__offer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 75px;
      padding-top: 65px;
      padding-left: 91px;
      background-image: url(../img/gift-photo-tablet@1x.jpg); } }
  @media (min-width: 1300px) {
    .additional__offer {
      width: 245px;
      margin: 0;
      margin-bottom: 87px;
      background-image: url(../img/gift-photo-desktop@1x.jpg); } }

.additional__offer-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 62px;
  fill: white; }
  @media (min-width: 768px) and (max-width: 1299px) {
    .additional__offer-img {
      margin: 0;
      margin-bottom: 75px;
      margin-right: 277px; } }

.additional__offer-text {
  width: 160px;
  margin: 0 auto;
  padding-bottom: 42px;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 1299px) {
    .additional__offer-text {
      margin: 0;
      margin-top: 7px;
      text-align: left; } }

.main--form {
  width: 320px;
  margin: 0 auto;
  padding-top: 15px; }
  @media (min-width: 768px) {
    .main--form {
      width: 768px;
      padding-top: 58px; } }
  @media (min-width: 1300px) {
    .main--form {
      width: 1300px;
      padding-top: 68px; } }

.main--form__title {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400; }
  @media (min-width: 768px) {
    .main--form__title {
      margin-left: 30px;
      margin-bottom: 56px;
      font-size: 60px; } }
  @media (min-width: 1300px) {
    .main--form__title {
      margin-left: 40px; } }

.main--form__info {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .main--form__info {
      margin-left: 70px;
      margin-bottom: 66px;
      font-size: 20px;
      line-height: 30px; } }
  @media (min-width: 1300px) {
    .main--form__info {
      margin-left: 40px; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.form__cat-info,
.form__programm,
.form__owner-info,
.form__comment,
.form__additional {
  margin: 0;
  padding: 0;
  border: none; }

.form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 280px;
  height: 45px;
  margin-left: 20px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .form__label {
      width: 630px;
      height: 52px;
      margin-left: 70px;
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 20px; } }
  @media (min-width: 1300px) {
    .form__label {
      width: 570px;
      margin-left: 40px; } }

.form__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100px;
  height: 45px;
  margin-left: 15px;
  padding-left: 15px;
  padding-right: 40px;
  font-family: "Oswald", arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e6e6e6; }
  @media (min-width: 768px) {
    .form__input {
      height: 52px;
      font-size: 20px;
      line-height: 20px; } }

.form__input[type="number"] {
  padding-right: 0; }

.form__input:hover {
  border-color: #cdcdcd; }

.form__input:focus {
  border: 2px solid #444444; }

.form__textarea::-webkit-input-placeholder,
.form__input::-webkit-input-placeholder {
  font-family: "Oswald", arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444; }
  @media (min-width: 768px) {
    .form__textarea::-webkit-input-placeholder,
    .form__input::-webkit-input-placeholder {
      font-size: 20px;
      line-height: 30px; } }

.form__textarea:-ms-input-placeholder,
.form__input:-ms-input-placeholder {
  font-family: "Oswald", arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444; }
  @media (min-width: 768px) {
    .form__textarea:-ms-input-placeholder,
    .form__input:-ms-input-placeholder {
      font-size: 20px;
      line-height: 30px; } }

.form__textarea::-moz-placeholder,
.form__input::-moz-placeholder {
  font-family: "Oswald", arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444; }
  @media (min-width: 768px) {
    .form__textarea::-moz-placeholder,
    .form__input::-moz-placeholder {
      font-size: 20px;
      line-height: 30px; } }

.form__textarea:-moz-placeholder,
.form__input:-moz-placeholder {
  font-family: "Oswald", arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444; }
  @media (min-width: 768px) {
    .form__textarea:-moz-placeholder,
    .form__input:-moz-placeholder {
      font-size: 20px;
      line-height: 30px; } }

.form__cat-info {
  margin-bottom: 8px; }
  @media (min-width: 768px) {
    .form__cat-info {
      margin-bottom: 52px; } }

.form__programm {
  padding-top: 21px;
  padding-bottom: 9px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed; }
  @media (min-width: 768px) {
    .form__programm {
      width: 630px;
      margin-left: 70px;
      padding-top: 24px;
      padding-bottom: 11px;
      border: 1px solid #ededed; } }
  @media (min-width: 1300px) {
    .form__programm {
      width: 570px;
      height: 196px;
      margin-left: 80px; } }

.form__label--radio {
  height: 30px;
  margin-bottom: 13px;
  padding-top: 7px;
  padding-left: 45px; }
  @media (min-width: 768px) {
    .form__label--radio {
      width: 500px;
      height: 40px;
      margin-left: 27px;
      padding-top: 10px;
      padding-left: 60px; } }

.form__radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%; }
  @media (min-width: 768px) {
    .form__radio {
      width: 40px;
      height: 40px; } }

.form__label:hover .form__radio,
.form__label:focus .form__radio {
  border-color: #bababa; }

.form__label:active {
  opacity: 0.3; }

.form__hidden:checked + .form__radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  margin-left: -6px;
  background-color: #68b738;
  border-radius: 50%; }
  @media (min-width: 768px) {
    .form__hidden:checked + .form__radio::before {
      width: 18px;
      height: 18px;
      margin-top: -9px;
      margin-left: -9px; } }

.form__owner-info,
.form__comment,
.form__additional {
  border-top: 3px solid #68b738; }

.form__legend {
  position: relative;
  top: -3px;
  padding-left: 18px;
  padding-right: 22px;
  font-size: 24px;
  line-height: 24px; }
  @media (min-width: 768px) {
    .form__legend {
      margin-left: 30px;
      padding-left: 41px;
      padding-right: 44px;
      font-size: 36px;
      line-height: 36px; } }

.form__owner-info {
  margin-top: 19px;
  padding-top: 43px;
  padding-bottom: 16px; }
  @media (min-width: 768px) {
    .form__owner-info {
      padding-top: 71px;
      padding-bottom: 50px; } }
  @media (min-width: 1300px) {
    .form__owner-info {
      padding-bottom: 52px; } }

.form__legend--owner {
  top: 9px; }
  @media (min-width: 768px) {
    .form__legend--owner {
      top: -3px; } }

@media (min-width: 768px) {
  .form__br {
    display: none; } }

.form__label--owner {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 40px;
  margin-right: 40px; }

.form__mail-icon {
  position: absolute;
  top: 16px;
  right: 16px; }
  @media (min-width: 768px) {
    .form__mail-icon {
      top: 20px;
      right: 20px; } }

.form__phone-icon {
  position: absolute;
  top: 13px;
  right: 13px; }
  @media (min-width: 768px) {
    .form__phone-icon {
      top: 17px;
      right: 17px; } }

.form__comment {
  padding-top: 32px; }
  @media (min-width: 768px) {
    .form__comment {
      padding-top: 71px; } }

.form__textarea {
  width: 280px;
  height: 150px;
  margin-left: 20px;
  margin-bottom: 26px;
  padding: 13px;
  font-family: "Oswald", arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e6e6e6; }
  @media (min-width: 768px) {
    .form__textarea {
      width: 631px;
      height: 174px;
      margin-left: 70px;
      margin-bottom: 65px;
      padding: 20px;
      font-size: 20px;
      line-height: 30px; } }
  @media (min-width: 1300px) {
    .form__textarea {
      width: 1220px;
      margin-left: 40px;
      margin-right: 40px; } }

.form__textarea:hover {
  border-color: #cdcdcd; }

.form__textarea:focus {
  padding: 12px;
  border: 2px solid #444444; }
  @media (min-width: 768px) {
    .form__textarea:focus {
      padding: 19px; } }

.form__additional {
  margin-bottom: 21px;
  padding-top: 32px; }
  @media (min-width: 1300px) {
    .form__additional {
      margin-bottom: 39px; } }

.form__label--checkbox {
  height: 30px;
  margin-bottom: 13px;
  padding-top: 6px;
  padding-left: 45px; }
  @media (min-width: 768px) {
    .form__label--checkbox {
      display: inline-block;
      width: 245px;
      height: 40px;
      padding-left: 57px; }
      .form__label--checkbox:nth-of-type(2), .form__label--checkbox:nth-of-type(4) {
        margin-left: 95px;
        margin-bottom: 22px; } }
  @media (min-width: 1300px) {
    .form__label--checkbox {
      margin-left: 40px;
      margin-right: 40px; }
      .form__label--checkbox:nth-of-type(2), .form__label--checkbox:nth-of-type(4) {
        margin-left: 40px; } }

.form__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cfcfcf; }
  @media (min-width: 768px) {
    .form__checkbox {
      width: 40px;
      height: 40px; } }

.form__hidden:checked + .form__checkbox::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 20px;
  height: 11px;
  border-bottom: 2px solid #68b738;
  border-left: 2px solid #68b738;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
  @media (min-width: 768px) {
    .form__hidden:checked + .form__checkbox::before {
      top: 11px;
      left: 10px; } }

.form__submit {
  width: 280px;
  margin-left: 20px;
  margin-right: 20px; }
  @media (min-width: 768px) {
    .form__submit {
      height: 52px;
      font-size: 20px;
      line-height: 20px;
      margin-left: 70px;
      margin-right: 60px; } }
  @media (min-width: 1300px) {
    .form__submit {
      width: 568px;
      margin-left: 40px;
      margin-right: 80px; } }

.form__note {
  display: block;
  width: 157px;
  margin: 0 auto;
  margin-top: 21px;
  margin-bottom: 32px;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444; }
  @media (min-width: 768px) {
    .form__note {
      display: inline-block;
      width: 200px;
      margin-bottom: 90px;
      font-size: 16px; } }
  @media (min-width: 1300px) {
    .form__note {
      margin-bottom: 97px;
      margin-left: 0; } }

.contacts {
  position: relative;
  width: 320px;
  height: 477px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .contacts {
      width: 768px;
      height: 597px; } }
  @media (min-width: 1300px) {
    .contacts {
      width: 1300px;
      height: 400px; } }

.contacts__map {
  width: 320px;
  height: 476px;
  background-image: url(../img/bg-map-mobile@1x.png); }
  @media (min-width: 768px) {
    .contacts__map {
      width: 768px;
      height: 597px;
      background-image: url(../img/bg-map-tablet@1x.png); } }
  @media (min-width: 1300px) {
    .contacts__map {
      width: 1300px;
      height: 400px;
      background-image: url(../img/bg-map-desktop@1x.png); } }

.contacts__card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
  background-color: white; }
  @media (min-width: 768px) {
    .contacts__card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding-top: 65px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 61px; } }
  @media (min-width: 1300px) {
    .contacts__card {
      top: 80px;
      left: 40px;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      width: 570px;
      height: 200px;
      padding-left: 0;
      padding-right: 0; } }

@media (max-width: 1299px) {
  .contacts__card--grey {
    background-color: #f2f2f2; } }

.contacts__slogan {
  display: inline-block;
  width: 136px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .contacts__slogan {
      width: 155px;
      margin-left: 40px;
      font-size: 20px;
      line-height: 25px; } }
  @media (min-width: 1300px) {
    .contacts__slogan {
      margin-left: 75px; } }

.contacts__address {
  display: inline-block;
  width: 140px;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #444444;
  text-decoration: none; }
  @media (min-width: 768px) {
    .contacts__address {
      width: 155px;
      margin-right: 40px;
      font-size: 16px;
      line-height: 20px;
      text-align: right; } }
  @media (min-width: 1300px) {
    .contacts__address {
      margin-left: 95px;
      margin-right: 0;
      text-align: left; } }

.footer {
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2; }
  @media (min-width: 768px) {
    .footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 768px; } }
  @media (min-width: 1300px) {
    .footer {
      width: 1300px; } }

.footer__logo {
  width: 280px;
  margin: 0 auto;
  margin-top: 35px;
  padding-bottom: 25px;
  border-bottom: 1px solid #d9d9d9; }
  @media (min-width: 768px) {
    .footer__logo {
      width: 128px;
      margin: 0;
      margin-top: 62px;
      margin-left: 30px;
      margin-bottom: 57px;
      padding-bottom: 0;
      border-bottom: none; } }
  @media (min-width: 1300px) {
    .footer__logo {
      margin-top: 48px;
      margin-left: 40px; } }

.footer__logo-link {
  display: block;
  width: 128px;
  margin: 0 auto; }

.footer__socials {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 22px;
  padding-left: 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #d9d9d9; }
  @media (min-width: 768px) {
    .footer__socials {
      margin: 0;
      padding: 0;
      margin-top: 58px;
      margin-left: 155px; } }
  @media (min-width: 1300px) {
    .footer__socials {
      margin-top: 43px;
      margin-left: 412px; } }

.footer__copyright-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  text-decoration: none; }
  @media (min-width: 768px) {
    .footer__copyright-link {
      margin-top: 57px;
      margin-left: 134px;
      padding: 0; } }
  @media (min-width: 1300px) {
    .footer__copyright-link {
      margin-top: 44px;
      margin-left: 390px; } }

.footer__copyright-text {
  margin-top: 8px; }
  @media (min-width: 768px) {
    .footer__copyright-text {
      margin-right: 24px; } }

.footer__copyright-img {
  fill: #444444; }

.footer__copyright-link:hover .footer__copyright-img,
.footer__copyright-link:focus .footer__copyright-img {
  fill: #68b738; }

.footer__copyright-link:active {
  opacity: 0.3; }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }
  @media (min-width: 768px) {
    .socials {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 126px; } }

.socials__link {
  height: 19px;
  fill: #444444; }
  @media (min-width: 768px) {
    .socials__link {
      height: 28px; } }

.socials__link--vk {
  margin-left: 73px; }
  @media (min-width: 768px) {
    .socials__link--vk {
      margin: 0; } }

.social__link--inst {
  margin-left: 37px; }
  @media (min-width: 768px) {
    .social__link--inst {
      margin: 0; } }

.social__link--fb {
  margin-left: 40px; }
  @media (min-width: 768px) {
    .social__link--fb {
      margin: 0; } }

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: #68b738; }

.socials__link:active .socials__icon {
  opacity: 0.3; }

.socials__icon {
  vertical-align: top; }

.socials__icon--vk {
  margin-top: 4px; }
  @media (min-width: 768px) {
    .socials__icon--vk {
      width: 30px;
      height: 16px;
      margin-top: 7px; } }

.socials__icon--inst {
  margin-top: 2px; }
  @media (min-width: 768px) {
    .socials__icon--inst {
      width: 23px;
      height: 23px;
      margin-top: 3px; } }

@media (min-width: 768px) {
  .socials__icon--fb {
    width: 14px;
    height: 28px; } }

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
